<div class="newsletter-form"  novalidate="">
            <input type="email" value="" name="email" class="email" placeholder="Your Email Address Here ..." required>
            <button class="btn btn-primary" name="submitButton" type="submit">{{buttontext}}</button>
</div>